@model VideoConference.Web.Models.ViewDocumentViewModel
@{
    ViewData["Title"] = "ViewDocument";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    @if (Model.CanMinute)
    {
        <div style="text-align:right" class="mb-2">
            <a class="btn btn-sm custom-primary-btn" style="width:100px" asp-controller="Document" asp-action="Minute" asp-route-id="@Model.Id">Minute</a>
        </div>
    }

    <div class="card box-shadow p-3">
        <div>
            <span class="font-weight-bold">Doc no.:</span> @Model.DocumentNumber
        </div>
        <div>
            <span class="font-weight-bold"> Title: </span> @Model.Title
        </div>
        <div>
            <span class="font-weight-bold"> Current office:</span> @Model.CurrentOffice
        </div>

        <h6 class="mt-3">Document Minute History</h6>
        <hr class="m-0" />
        @foreach (var docMinutes in Model.DocMinutes)
        {
            <div>
                <div> <span class="font-weight-bold">Date minuted:</span> @docMinutes.DateCreatedString</div>
                <div>
                    <span class="font-weight-bold"> From Dept/Office:</span> @docMinutes.FromDept
                </div>
                <div>  <span class="font-weight-bold"> To Dept/Office: </span>@docMinutes.ToDept</div>
                <div><span class="font-weight-bold"> Submitted by:</span> @docMinutes.SubmittedBy</div>
                <div> <span class="font-weight-bold"> Received by: </span>@docMinutes.ReceivedBy</div>
                <div>  <span class="font-weight-bold"> Remarks:</span> @docMinutes.Remarks</div>
            </div>
            <hr />
        }
    </div>
</div>

