@model VideoConference.Web.Models.ViewDocumentViewModel
@{
    ViewData["Title"] = "ViewDocument";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">

    <div style="text-align:right" class="mb-2">
        <a class="btn btn-sm custom-primary-btn" style="width:100px" asp-controller="Document" asp-action="Minute" asp-route-id="@Model.Id">Minute</a>
    </div>
    <div class="card box-shadow p-3">
        <div>
            <span class="font-weight-bold">Date submitted: </span> @Model.DateReceivedString
        </div>
        <div>
            <span class="font-weight-bold">Doc no:</span> @Model.DocumentNumber
        </div>
        <div>
            <span class="font-weight-bold"> Title: </span> @Model.Title
        </div>
        <div>
            <span class="font-weight-bold"> Current office:</span> @Model.CurrentOffice
        </div>
        <div>
            <span class="font-weight-bold"> Minuted to:</span> @Model.AddressedTo
        </div>
        <hr class="m-0 mt-3 mb-1" />
        <h6>Document Minute History</h6>
        <hr class="m-0" />
        @foreach (var docMinutes in Model.DocMinutes)
        {
            <div>
                <div> <span class="font-weight-bold">Date minuted:</span> @docMinutes.DateCreatedString</div>
                <div>
                    <span class="font-weight-bold"> From Dept/Office:</span> @docMinutes.FromDept
                </div>
                <div>  <span class="font-weight-bold"> To Dept/Office: </span>@docMinutes.ToDept</div>
                <div>  <span class="font-weight-bold"> Addressed to: </span>@docMinutes.AddressedTo</div>
                <div><span class="font-weight-bold"> Submitted by:</span> @docMinutes.SubmittedBy</div>
                <div> <span class="font-weight-bold"> Received by: </span>@docMinutes.ReceivedBy</div>
                <div>  <span class="font-weight-bold"> Remarks:</span> @docMinutes.Remarks</div>

            </div>
            <hr />
        }
    </div>
</div>

